* {
  padiing: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  min-width: 1300px;
  height: 70px;
  background-image: linear-gradient(0deg, #292929 0%, #1c1c1c 100%);
  filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.55));
}

.logo {
  position: absolute;
  width: 211px;
  height: 100px;
  background-color: #bbbbbb;
  text-align: center;
  left: 270px;
  border-radius: 2px;
}

.logo h2 {
  font-size: 39px;
  letter-spacing: 1px;
  line-height: 100px;
  color: #484848;
  font-family: "Bistro Script";
  filter: drop-shadow(0px 1px 0px rgba(255,255,255,0.66));
}

     /********Navigation******/

.menu {
  min-width: 500px;
  position: absolute;
  top: 30px;
  right: 267px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav  li {
  position: relative;
  display: inline-block;
  height: 40px;
}

.drop-down  {
  position: absolute;
  display: none;
  left: -22px;
  top: 30px;
}

.drop-down li a:hover {
  background-color: #d5d5e5;
  filter: drop-shadow(0 0 1.5px rgba(0,0,0,0.5));

  transition: background .2s ease-in-out;
}

.menu ul li:hover .drop-down {
  display: block;
}

.drop-down li a {
  background-color: #c7c7c7;
}

ul.drop-down li a {
  font-size: 11px;
  line-height: 41px;
  color: #3b3b3b;
  font-weight: 700;
  font-family: "Open Sans";
  display: block;
  width: 170px;
  height: 41px;;
  filter: drop-shadow(0 0 1.5px rgba(0,0,0,0.5));
  background-color: #d5d5d5;
  text-indent: 21px;
  padding: 0;
}

.nav li a {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 19px;
  color: #d0d1d2;
  font-family: "Open Sans";
  padding-right: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

